[data-theme='1'] {
    --color: #000000;
    --background: rgba(0,0,0,0) !important;;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.selectContainer{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.select {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    margin-top: 6px;
}
