.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.clock {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.watch {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    top: 193px;
    left: 70px;
    opacity: 1;

}

.watch strong {
}

.more {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #00000080;;
    opacity: 0.5;
}